src/main/resources/webview
!src/main/resources/webview/index.html
src/main/resources/bin
src/main/resources/config_schema.json
src/main/resources/continue_rc_schema.json
video
.intellijPlatform
src/testIntegration/kotlin/com/github/continuedev/continueintellijextension/test-continue/*
!src/testIntegration/kotlin/com/github/continuedev/continueintellijextension/test-continue/config.json
/src/test/kotlin/com/github/continuedev/continueintellijextension/test-continue/config.yaml
/src/test/kotlin/com/github/continuedev/continueintellijextension/test-continue/index/autocompleteCache.sqlite
/src/test/kotlin/com/github/continuedev/continueintellijextension/test-continue/index/globalContext.json
